<div id="footer-container">
    <div id="content">
        <div id="description">
            <img src="./../../../../assets/pictures/logo.png" alt="" width="200px">
            <p>NewSky est un serveur développé en 1.8 qui vous permet de retrouver la simplicité du skyblock tout en gardant un bon niveau de difficulté.</p>
        </div>
        <div id="links-container">
            <div class="links-column">
                <p>Liens utiles</p>
                <div class="links">
                    <a routerLink="/">Accueil</a>
                    <a routerLink="/vote">Voter</a>
                    <a routerLink="/store">Boutique</a>
                </div>
            </div>
            <div class="links-column">
                <p>Nous rejoindre</p>
                <div class="links">
                    <a [href]="appSettingsPublicValues.discordUrl" target="_blank">Discord</a>
                    <a [href]="appSettingsPublicValues.instagramUrl" target="_blank">Instagram</a>
                    <a [href]="appSettingsPublicValues.twitterUrl" target="_blank">Twitter</a>
                    <a [href]="appSettingsPublicValues.tikTokUrl" target="_blank">TikTok</a>
                </div>
            </div>
            <div class="links-column">
                <p>Nous contacter</p>
                <div id="contact">
                    <a class="btn btn-third" id="discord"  [attr.href]="appSettingsPublicValues.discordUrl" target="_blank">
                        <span class="icon-discord"></span>
                        <p>Ouvrir un ticket</p>
                    </a>
                    <p>OU</p>
                    <a class="btn btn-mail animated" id="mail" href="mailto:contact@newsky.mc">
                        <span class="icon-mail"></span>
                        <p>Envoyez un mail</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="legal-mentions">
        <p>Copyright @ 2023 NewSky - Tous droits réservés</p>
    </div>
</div>