.pager-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 0;
    
    .pager{
        display: flex;
        align-items: center;
        gap: 5px;

        .element-pager{
            width: 30px;
            min-width: 30px;
            height: 30px;
            min-height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            transition: all 0.3s;

            &:hover:not(.disabled){
                background-color: var(--grey-light);
                cursor: pointer;
            }

            &.double-chevron{
                position: relative;

                >span:first-child{
                    position: absolute;
                    left: 35%;
                    transform: translateX(-50%);
                }
                >span:last-child{
                    position: absolute;
                    left: 65%;
                    transform: translateX(-50%);
                }
            }

            &.disabled{
                >.pageNumber{
                    display: none;
                }
                >[class^=icon]{
                    color: var(--grey-light);
                }
            }

            &.current{
                background-color: var(--third-color) !important;
            }
        }
    }

    ::ng-deep p-dropdown{

        .p-dropdown{
            background-color: var(--secondary-variant-color);
            border: none;
            padding: 10px;
            width: 90px;
    
             &.p-focus{
                 box-shadow: none;
                 outline: solid 2px var(--third-color);
             }
        }
    
        .p-dropdown-item{
            background-color: var(--secondary-variant-color);
            padding: 5px;
    
            &:hover{
                background-color: #2B2C39CC
            }
        }
    
        .p-dropdown-panel{
            border-radius: 0px !important;
        }
    
        .p-dropdown-trigger{
            width: auto;
            padding-left: 10px;
        }
    
        p-overlay>.p-overlay{
            transform: translateY(2px);
        }
    }
}