<div id="container">
    <h1>Bienvenue sur NewSky&nbsp;!</h1>
    <div id="short-description">
        <div id="content">
            <div id="description">
                <p>Survivez et prospérez dans le ciel&nbsp;!</p>
                <p>Élevez votre expérience SkyBlock au sommet avec NewSky : un serveur passionnant, rempli de défis stimulants et de fonctionnalités uniques pour des heures de jeu inoubliables&nbsp;!</p>
            </div>
            <div id="join-buttons">
                <button id="server">
                    <img src="./../../../assets/pictures/minecraft-icon.png" alt="" width="30" height="30">
                    <p>IP : play.newsky.fun</p>
                </button>
                <button id="discord">
                    <span class="icon-discord"></span>
                    <p>Rejoindre le discord</p>
                </button>
            </div>
        </div>
        <div id="picture">
            <img src="./../../../assets/pictures/skyblock-is.png" alt="Image d'une ile d'un skyblock">
        </div>
    </div>
    <div id="news">
        <h2>Les Dernières Nouveautés</h2>
        <div id="news-container">
            <div class="news" id="news-1">
                <img src="./../../../assets/pictures/news-1.png" alt="">
                <div class="text">
                    <p>Arrivée des spawners</p>
                    <p>Les spawners sont enfin arrivés sur les serveur ! Venez explorer de nouvelles possibilités et produisez vos propres monstres sur  votre île !</p>
                </div>
                <button class="know-more">
                    <p>En savoir plus</p>
                    <span class="icon-right-circle"></span>
                </button>
            </div>
            <div class="separator"></div>
            <div class="news" id="news-2">
                <img src="./../../../assets/pictures/news-2.png" alt="">
                <div class="text">
                    <p>De nouvelles quêtes</p>
                    <p>Marre de taper du monstre ? Vous pouvez maintenant pécher et miner pour obtenir des coffres ! Ces coffres vous offrent également la possibilité d’obtenir des spawners</p>
                </div>
                <button class="know-more">
                    <p>En savoir plus</p>
                    <span class="icon-right-circle"></span>
                </button>
            </div>
            <div class="separator"></div>
            <div class="news" id="news-3">
                <img src="./../../../assets/pictures/news-3.png" alt="">
                <div class="text">
                    <p>Changement du /mdv</p>
                    <p>Le menu pour vendre vos items obtient un nouveau look pour plus de facilité à la vente. Il obtient également la possibilité de vendre tout les items vendables de votre inventaire !</p>
                </div>
                <button class="know-more">
                    <p>En savoir plus</p>
                    <span class="icon-right-circle"></span>
                </button>
            </div>
        </div>
    </div>
    <div id="join-us">
        <h2>On vous a convaincu&nbsp;? Rejoignez nous&nbsp;!</h2>
        <div id="steps">
            <div class="step">
                <p class="number">1</p>
                <div id="details-1">
                    <h4>Lancez Minecraft</h4>
                    <p>Lancez votre launcher en vous connectant avec votre compte Minecraft avec une version entre 1.8.x et 1.16.x.</p>
                    <p id="warning"><span class="icon-warning"></span> Le serveur accepte uniquement les comptes premiums</p>
                </div>
            </div>
            <div class="step">
                <p class="number">2</p>
                <div id="details-2">
                    <h4>Rejoignez le serveur</h4>
                    <p>Ajouter un nouveau serveur avec l’ip suivante : <span>play.newsky.fun</span></p>
                    <img src="./../../../assets/pictures/server-connexion.png" alt="Connexion au serveur NewSky">
                </div>
            </div>
            <div class="step">
                <p class="number">3</p>
                <div id="details-3">
                    <h4>Rejoignez le discord</h4>
                    <p>Rejoignez le discord pour vous tenir au courant de toutes les modifications, nouveautés ou encore pour discuter avec d’autres joueurs</p>
                    <button>
                        <span class="icon-discord"></span>
                        <p>Rejoindre le discord</p>
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div id="issue">
            <h3>Un soucis&nbsp;? Des problèmes pour rejoindre&nbsp;?</h3>
            <div>
                <p>Vous pouvez nous contacter par mail à l’adresse suivante :</p>
                <a href="">contact.newsky@gmail.com</a>
            </div>
            <div>
                <p>Ou envoyer un message au fondateur en rejoignant le discord grâce au lien suivant :</p>
                <a href="">https://discord.gg/eMFCoGrV</a>
            </div>
        </div>
    </div>
</div>