#content-container{
    padding: 50px;

    #filter{
        display: flex;
        justify-content: space-between;
        gap: 15px;

        #search{
            position: relative;
            display: flex;
            align-items: center;

            input{
                background-color: var(--secondary-variant-color);
                border: none;
                border-radius: 5px;
                padding: 10px 15px 10px 50px;
                width: 300px;
                color: var(--white);
            }

            #search-button{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                transition: all 0.3s;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                
                span{
                    font-size: 20px;
                }

                &:hover{
                    background-color: var(--third-color);
                    cursor: pointer;
                }
            }

        }

        #sort{
            display: flex;
            gap: 15px;

            form{
                display: flex;
                align-items: center;
                gap: 10px;
            }

            div{
                border-radius: 5px;
                border: solid 1px var(--grey-light);
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 0.3s;

                &.asc{
                    transform: rotate(-90deg);
                }
                &.desc{
                    transform: rotate(90deg);
                }

                &:hover{
                    background-color: var(--third-color);
                    border-color: var(--third-color);
                }
            }
        }
    }

    #list-user{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 25px 0;

        .categories{
            width: 100%;
            margin-bottom: 50px;

            >p{
                border-bottom: solid 1px var(--white);
                margin-bottom: 25px;
                width: 100%;
                font-weight: var(--font-weight-bold);
                font-size: 32px;
            }

            .users{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 25px;

                .user{
                    display: flex;
                    align-items: center;
                    background-color: var(--secondary-variant-color);
                    border-radius: 25px;
                    padding: 15px 25px;
                    gap: 25px;

                    .user-informations{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        justify-content: space-between;
                        width: 100%;
                        height: 100%;
                        padding: 10px 0;

                        .informations{
                            display: flex;
                            flex-direction: column;

                            p{
                                word-break: break-word;
                                font-size: 14px;
                                color: var(--grey-dark);
                            }
                            
                            span{
                                text-decoration: underline;
                                color: var(--white);
                                font-size: 16px;
                            }
                        }

                        .user-actions{
                            display: flex;
                            justify-content: space-evenly;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}

p-dialog{

    #user-modify-informations{
        display: flex;
        flex-direction: column;
        gap: 15px;

        div{
            display: flex;
            gap: 10px;

            label{
                color: var(--white);
            }

            input{
                background-color: var(--secondary-variant-color);
                border: none;
                border-radius: 5px;
                padding: 5px;
                width: 150px;
                color: var(--white);
            }
        }
    }

    #user-modify-state{
        display: flex;
        flex-direction: column;
        gap: 15px;

        #date-end{
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;

            p{
                text-align: center;
                color: var(--danger);

                span{
                    color: var(--danger);
                    text-decoration: underline;
                    font-weight: var(--font-weight-bold);
                }
            }
        }

        #actions{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            padding: 25px 0;

            >div{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;
                border: solid 1px var(--grey);
                border-radius: 5px;
                padding: 10px;
                width: 100%;

                .add{
                    display: flex;
                    align-items: center;
                    gap : 10px
                }
            }
        }
    }
}

::ng-deep p-multiselect{

    .p-multiselect-header, .p-multiselect-close{
        display: none;
    }

    .p-inputwrapper{
        width: 150px;
        background-color: var(--secondary-variant-color);
        border: none;
        height: 30px;
        padding-inline: 5px;
        color: var(--white);

        &.p-focus{
            box-shadow: none;
            outline: solid 2px var(--third-color);
        }
    }

    .p-multiselect-item{
        background-color: var(--secondary-variant-color);
        padding: 5px;

        &:hover{
            background-color: #2B2C39CC
        }
    }

    .p-checkbox{
        margin-right: 5px;
    }

    p-overlay>.p-overlay{
        transform: translateY(2px);
    }
}

::ng-deep p-dropdown{

    .p-dropdown{
        background-color: var(--secondary-variant-color);
        border: none;
        padding: 10px;
        width: 150px;

         &.p-focus{
             box-shadow: none;
             outline: solid 2px var(--third-color);
         }
    }

    .p-dropdown-item{
        background-color: var(--secondary-variant-color);
        padding: 5px;

        &:hover{
            background-color: #2B2C39CC
        }
    }

    .p-dropdown-panel{
        border-radius: 0px !important;
    }

    .p-dropdown-trigger{
        width: auto;
        padding-left: 10px;
    }

    p-overlay>.p-overlay{
        transform: translateY(2px);
    }
}

@media screen and (max-width:1200px) {
    .users{
        grid-template-columns: repeat(1, 100%) !important;
    }

    #filter{
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    #content-container{
        padding: 15px;
    }

    .user{
        flex-direction: column;
    }
}