<div id="container">
    <h1>Vote et gagne des récompenses&nbsp;!</h1>
    <div id="content">
        <div id="left-container">
            <div id="player-votes">
                <h2>Mes votes</h2>
                <div id="votes">
                    <div class="vote" id="vote1" [class.unavailable]="!isVote1Available">
                        <button>Vote 1 - 1h30</button>
                        <p class="status">Disponible</p>
                    </div>
                    <div class="vote" id="vote2" [class.unavailable]="!isVote2Available">
                        <button>Vote 2 - 24h</button>
                        <p class="status">Disponible</p>
                    </div>
                    <div class="vote" id="vote3" [class.unavailable]="!isVote3Available">
                        <button>Vote 3 - 1h30</button>
                        <p class="status">01 : 30 : 18</p>
                    </div>
                </div>
            </div>
            <div id="ranking">
                <h2>Classement des votes</h2>
                <div class="position">
                    <p id="first"><span class="icon-trophy"></span>#1</p>
                    <div>
                        <img src="../../../assets/pictures/face.png" alt="">
                        <p>Slowise</p>
                    </div>
                    <p>1578 votes</p>
                </div>
                <div class="position">
                    <p id="second"><span class="icon-trophy"></span>#2</p>
                    <div>
                        <img src="../../../assets/pictures/face.png" alt="">
                        <p>Slowise</p>
                    </div>
                    <p>1578 votes</p>
                </div>
                <div class="position">
                    <p id="third"><span class="icon-trophy"></span>#3</p>
                    <div>
                        <img src="../../../assets/pictures/face.png" alt="">
                        <p>Slowise</p>
                    </div>
                    <p>1578 votes</p>
                </div>
                <div class="position">
                    <p>#4</p>
                    <div>
                        <img src="../../../assets/pictures/face.png" alt="">
                        <p>Slowise</p>
                    </div>
                    <p>1578 votes</p>
                </div>
                <div class="position">
                    <p>#5</p>
                    <div>
                        <img src="../../../assets/pictures/face.png" alt="">
                        <p>Slowise</p>
                    </div>
                    <p>1578 votes</p>
                </div>
                <div class="position">
                    <p>#6</p>
                    <div>
                        <img src="../../../assets/pictures/face.png" alt="">
                        <p>Slowise</p>
                    </div>
                    <p>1578 votes</p>
                </div>
                <div class="position">
                    <p>#7</p>
                    <div>
                        <img src="../../../assets/pictures/face.png" alt="">
                        <p>Slowise</p>
                    </div>
                    <p>1578 votes</p>
                </div>
                <div class="position">
                    <p>#8</p>
                    <div>
                        <img src="../../../assets/pictures/face.png" alt="">
                        <p>Slowise</p>
                    </div>
                    <p>1578 votes</p>
                </div>
                <div class="position">
                    <p>#9</p>
                    <div>
                        <img src="../../../assets/pictures/face.png" alt="">
                        <p>Slowise</p>
                    </div>
                    <p>1578 votes</p>
                </div>
                <div class="position">
                    <p>#10</p>
                    <div>
                        <img src="../../../assets/pictures/face.png" alt="">
                        <p>Slowise</p>
                    </div>
                    <p>1578 votes</p>
                </div>
            </div>
        </div>
        <div id="right-container">
            <div id="rewards-container">
                <h2>Récompense Top Voteur</h2>
                <div id="rewards">
                    <div class="reward">
                        <p>1ère place</p>
                        <p>1500 tokens</p>
                    </div>
                    <div class="reward">
                        <p>2ème place</p>
                        <p>1000 tokens</p>
                    </div>
                    <div class="reward">
                        <p>3ème place</p>
                        <p>500 tokens</p>
                    </div>
                    <div class="reward">
                        <p>4-5ème place</p>
                        <p>250 tokens</p>
                    </div>
                    <div class="reward">
                        <p>6-10ème place</p>
                        <p>100 tokens</p>
                    </div>
                </div>
            </div>
            <div id="promote-more">
                <h2>Envie de promouvoir davantage le serveur&nbsp;?</h2>
                <p>Partager&nbsp;! Liker&nbsp;! Commenter&nbsp;! Tout ceci nous aide et améliore la visibilité du serveur et le mieux, c’est que ca ne vous coûte pas 1 centimes&nbsp;!</p>
                <p>Alors à vos <span>pouces bleus</span>, vos <span>coeurs</span> et vos <span>retweets</span>&nbsp;!</p>
                <div>
                    <a href="" id="youtube">
                        <p>Youtube</p>
                        <img src="../../../assets/pictures/youtube.png" alt="Logo Youtube">
                    </a>  
                    <a href="" id="instagram">
                        <p>Instagram</p>
                        <img src="../../../assets/pictures/instagram.png" alt="Logo Instagramm">
                    </a>
                    <a href="" id="tiktok">
                        <p>TikTok</p>
                        <img src="../../../assets/pictures/tiktok.png" alt="Logo TikTok">
                    </a>
                    <a href="" id="twitter">
                        <p>Twitter</p>
                        <img src="../../../assets/pictures/twitter.png" alt="Logo Twitter">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--todo => à 1k pixel, le bouton instagram fait bouger la taille autour-->