<div id="profile">
    <div class="user-info">
        <div>
            <img src="{{userBodySkinUrl}}" alt="Skin du joueur">
            <p>{{form.controls.username.value ? form.controls.username.value : '-'}}</p>
        </div>
    </div>
    <div class="field-container" [formGroup]="form">
        <div class="field email">
            <label>E-Mail</label>
            <input type="text" name="email" id="email" formControlName="email" readonly>
            <button class="btn btn-third animated" (click)="dialogChangeEmailVisible = true">Modifier mon email</button>
        </div>
        <div class="field">
            <label>Nom d'utilisateur</label>
            <input type="text" name="username" id="username" formControlName="username" readonly>
            <span class="icon-info"></span>
            <p class="username-info">
                Si vous souhaitez changer votre nom d'utilisateur, veuillez faire une demander au <a
                    routerLink="contact">Support</a>.
            </p>
        </div>

        <p-dialog [(visible)]="dialogChangeEmailVisible" [modal]="true"
            [contentStyle]="{'background': 'transparent', 'max-width': '100vw'}" [closeOnEscape]="true"
            [dismissableMask]="true" [showHeader]="false" [closable]="true">
            <div class="dialog-content">
                <h2>Changer votre Email</h2>
                <form [formGroup]="changeEmailForm" (ngSubmit)="onChangeEmail()">
                    <div>
                        <label for="newEmailConfirm">Saisissez votre nouveau email</label>
                        <input type="email" name="newEmail" id="newEmail" formControlName="newEmail">
                        <div class="errors">
                            <p
                            [class.visible]="changeEmailForm.controls.newEmail.hasError('required') && changeEmailForm.controls.newEmail.touched">
                            Champ requis</p>
                        </div>
                    </div>
                    <div class="form-button">
                        <button (click)="dialogChangeEmailVisible = false" class="btn btn-danger animated"
                            type="button">Annuler</button>
                        <div>
                            <button class="btn btn-third animated" type="submit">Confirmer</button>
                            <app-loader *ngIf="loading" radius="25"></app-loader>
                        </div>
                    </div>
                </form>
            </div>
        </p-dialog>

    </div>
</div>