<div id="list-modules-container">
    <!-- <a class="modules" routerLink="dashboard">
        <span class="icon-dashboard"></span>
        <p>DashBoard</p>
    </a> -->
    <a class="modules" routerLink="users">
        <span class="icon-user"></span>
        <p>Utilisateurs</p>
    </a>
    <a class="modules" routerLink="roles">
        <span class="icon-role"></span>
        <p>Rôles</p>
    </a>
    <a class="modules" routerLink="votes">
        <span class="icon-ballot-box"></span>
        <p>Votes</p>
    </a>
    <a class="modules" routerLink="orders">
        <span class="icon-package"></span>
        <p>Commandes</p>
    </a>
    <a class="modules" routerLink="global-settings">
        <span class="icon-setting"></span>
        <p>Paramètres</p>
    </a>
</div>