#layout-container{
    display: flex;
    min-height: 100vh;
    position: relative;
    
    >input[type=checkbox]{
        display: none;

        &:checked+#layout-left{
            width: 80px;

            label#menu-toggle-dekstop{
                transform:translateX(50%) rotate(180deg) !important;
            }

            #logo>img{
                height: 45px;
            }
        }
    }

    #layout-left{
        display: flex;
        flex-direction: column;
        width: 250px;
        border-right: solid 1px var(--grey-light);
        position: relative;
        transition: all 0.5s;
        background-color: var(--primary-color);

        #logo{
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-bottom: solid 1px var(--grey-light);

            img{
                height: 60px;
                transition: all 0.5s;
                cursor: pointer;;
            }

            #menu-toggle-dekstop{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background-color: var(--primary-color);
                border: solid 1px var(--grey-light);
                position: absolute;
                right: 0;
                transform: translateX(50%);
                width: 30px;
                height: 30px;
                cursor: pointer;
                transition: all 0.5s;

                span{
                    transform: translateX(-1px);
                    font-size: 16px !important;
                }

            }

            #menu-toggle-mobile{
                display: none;
            }
        }

        #links{
            display: flex;
            flex-direction: column;
            padding-inline: 15px;
            gap: 40px;
            margin: 50px 0;

            .group{
                display: flex;
                flex-direction: column;
                gap: 5px;

                a{
                    display: flex;
                    align-items: center;
                    padding: 10px 15px;
                    border-radius: 5px;
                    gap: 15px;
                    transition: all 0.3s;
                    overflow-x: hidden;

                    >*{
                        font-weight: var(--font-weight-semibold);
                        font-size: 14px;
                    }

                    &.selected{
                        background-color: var(--third-color) !important;
                    }

                    &:hover{
                        background-color: var(--grey-light);
                    }
                }
            }

        }

        #logout{
            padding: 15px;
            position: absolute;
            bottom: 0;
            background-color: var(--primary-color);
            width: 100%;
            
            button{
                background-color: transparent;
                display: flex;
                align-items: center;
                padding: 10px 15px;
                gap: 15px;
                border-radius: 5px;
                transition: all 0.3s;
                border: solid 1px #FF3232;
                width: 100%;
                overflow-x: hidden;
                
                >*{
                    color: #FF3232;
                    font-weight: var(--font-weight-semibold);
                    transition: all 0.3s;
                }

                &:hover{
                    background-color: #FF3232;

                    >*{
                        color: var(--white);
                    }
                }
            }
        }
        span[class^=icon-]{
            font-size: 20px !important;
        }
    }

    #layout-right{
        width: 100%;
        z-index: 1;

        #header{
            height: 80px;
            border-bottom: solid 1px var(--grey-light);
            display: flex;
            align-items: center;
            justify-content: end;
            padding-inline: 30px;
            gap: 5px;
            position: relative;

            label{
                font-size: 25px;
                position: absolute;
                left: 20px;
                display: none;
            }

            button{
                height: 40px;
                width: 40px;
                border-radius: 10px;
                background-color: var(--secondary-variant-color);
                transition: all 0.3s;
                border: solid 1px transparent;

                span{
                    font-size: 20px;
                    font-weight: var(--font-weight-semibold);
                }

                &:hover{
                    background-color: var(--third-color);
                }
            }
        }

        #content{
            background-color: var(--primary-color);
            width: 100%;
            height: calc(100vh - 80px);
            overflow-y: auto;
        }
    }
}

@media screen and (max-width: 700px){
    #layout-container{
        >input[type=checkbox]:checked+#layout-left{
                width: 100vw !important;
                left: 0 !important;
    
                #logo>img{
                    height: 60px;
                }
            }
    }

    #layout-right>#header>label{
        display: initial !important;
    }

    #layout-left{
        position: absolute !important;
        left: -100vw;
        width: 100vw !important;
        height: 100vh !important;
        z-index: 100;
        border: none !important;

        #logo{
            border: none !important;

            #menu-toggle-dekstop{
                display: none !important;
            }

            #menu-toggle-mobile{
                display: flex !important;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0;
                width: 30px;
                height: 30px;
                right: 25px;
            }
        }

        #links{
            align-items: center;

            .group{
                align-items: center;

                a{
                    width: min-content;
                }
            }
        }

        #logout{
            display: flex;
            justify-content: center;
            position: initial !important;

            button{
                width: initial !important;
            }
        }
    }
}