<div id="container">
    <h1>Vote et gagne des récompenses&nbsp;!</h1>
    <div id="content">
        <div id="left-container">
            <div id="player-votes">
                <div id="result">
                    <p>{{result}}</p>
                </div>
                <h2>Mes votes</h2>
                <div class="votes" *ngIf="user != null">
                    <div class="vote" id="vote1" [class.unavailable]="!vote1Status.isReady">
                        <a (click)="TryVote(10)" href="https://serveur-prive.net/minecraft/newsky-14339/vote" target="_blank">Vote 1 - 1h30</a>
                        <p class="status" *ngIf="vote1Status.isReady">Disponible</p>
                        <p class="status" *ngIf="!vote1Status.isReady">{{vote1Status.timeLeft | timeFormat}}</p>
                    </div>
                    <div class="vote" id="vote2" [class.unavailable]="!vote2Status.isReady">
                        <a (click)="TryVote(20)" href="https://www.serveursminecraft.org/serveur/6709/" target="_blank">Vote 2 - 24h</a>
                        <p class="status" *ngIf="vote2Status.isReady">Disponible</p>
                        <p class="status" *ngIf="!vote2Status.isReady">{{vote2Status.timeLeft | timeFormat}}</p>
                    </div>
                    <div class="vote" id="vote3" [class.unavailable]="!vote3Status.isReady">
                        <a (click)="TryVote(30)" href="https://top-serveurs.net/minecraft/vote/newsky" target="_blank">Vote 3 - 2h</a>
                        <p class="status" *ngIf="vote3Status.isReady">Disponible</p>
                        <p class="status" *ngIf="!vote3Status.isReady">{{vote3Status.timeLeft | timeFormat}}</p>
                    </div>
                </div>
                <div class="votes not-logged" *ngIf="user == null">
                    <p>Connectez-vous pour continuer</p>
                    <a routerLink="/login">Connectez-vous</a>
                </div>
                <app-loader *ngIf="loading" radius="25"></app-loader>
            </div>
            <div id="ranking">
                <h2>Classement des votes</h2>
                <div class="type" [class.monthOrder]="rankingFilterType == 'month'">
                    <p (click)="ChangeFilter('month')">Ce mois-ci</p>
                    <p (click)="ChangeFilter('total')">Total</p>
                    <div id="selected"></div>
                </div>
                <div class="position-container" *ngIf="rankingFilterType == 'month'">
                    <div class="position" *ngFor="let item of ranking.monthlyTop; let i = index">
                        <p *ngIf="i == 0" id="first"><span class="icon-trophy"></span>#1</p>
                        <p *ngIf="i == 1" id="second"><span class="icon-trophy"></span>#2</p>
                        <p *ngIf="i == 2" id="third"><span class="icon-trophy"></span>#3</p>
                        <p *ngIf="i != 0 && i != 1 && i != 2">#{{i + 1}}</p>
                        <div>
                            <img src="https://minotar.net/helm/{{item.username}}/30.png" alt="">
                            <p>{{item.username}}</p>
                        </div>
                        <p>{{item.monthlyVotes}} votes</p>
                    </div>
                    <div *ngIf="ranking.monthlyTop.length == 0" class="no-vote">
                        <p>Aucun vote ce mois-ci</p>
                    </div>
                    <div class="self-ranking" *ngIf="user != null">
                        <h3>Ma position</h3>
                        <div class="position">
                            <p *ngIf="userRanking.monthlyPosition == 1" id="first"><span class="icon-trophy"></span>#1</p>
                            <p *ngIf="userRanking.monthlyPosition == 2" id="second"><span class="icon-trophy"></span>#2</p>
                            <p *ngIf="userRanking.monthlyPosition == 3" id="third"><span class="icon-trophy"></span>#3</p>
                            <p *ngIf="![1,2,3].includes(userRanking.monthlyPosition)">#{{userRanking.monthlyPosition}}</p>
                            <div>
                                <img src="https://minotar.net/helm/{{userRanking.username}}/30.png" alt="">
                                <p>{{userRanking.username}}</p>
                            </div>
                            <p>{{userRanking.monthlyVotes}} votes</p>
                        </div>
                    </div>
                </div>
                <div class="position-container" *ngIf="rankingFilterType == 'total'">
                    <div class="position" *ngFor="let item of ranking.totalTop; let i = index">
                        <p *ngIf="i == 0" id="first"><span class="icon-trophy"></span>#1</p>
                        <p *ngIf="i == 1" id="second"><span class="icon-trophy"></span>#2</p>
                        <p *ngIf="i == 2" id="third"><span class="icon-trophy"></span>#3</p>
                        <p *ngIf="i != 0 && i != 1 && i != 2">#{{i + 1}}</p>
                        <div>
                            <img src="https://minotar.net/helm/{{item.username}}/30.png" alt="">
                            <p>{{item.username}}</p>
                        </div>
                        <p>{{item.totalVotes}} votes</p>
                    </div>
                    <div *ngIf="ranking.totalTop.length == 0" class="no-vote">
                        <p>Aucun vote n'a encoré été réalisé</p>
                    </div>
                    <div class="self-ranking" *ngIf="user != null">
                        <h3>Ma position</h3>
                        <div class="position">
                            <p *ngIf="userRanking.totalPosition == 1" id="first"><span class="icon-trophy"></span>#1</p>
                            <p *ngIf="userRanking.totalPosition == 2" id="second"><span class="icon-trophy"></span>#2</p>
                            <p *ngIf="userRanking.totalPosition == 3" id="third"><span class="icon-trophy"></span>#3</p>
                            <p *ngIf="![1,2,3].includes(userRanking.totalPosition)">#{{userRanking.totalPosition}}</p>
                            <div>
                                <img src="https://minotar.net/helm/{{userRanking.username}}/30.png" alt="">
                                <p>{{userRanking.username}}</p>
                            </div>
                            <p>{{userRanking.totalVotes}} votes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-container">
            <div id="rewards-container">
                <h2>Récompense Top Voteur</h2>
                <div id="rewards">
                    <div class="reward" *ngFor="let reward of rewards">
                        <p>{{reward.position}}{{reward.position == "1" ? "ère place" : "ème place"}}</p>
                        <p>{{reward.reward}} crédits</p>
                    </div>
                    <div class="reward" *ngIf="rewards.length == 0">
                        <p class="no-reward">Aucune récompense ce mois-ci</p>
                    </div>
                </div>
            </div>
            <div id="promote-more">
                <h2>Envie de promouvoir davantage le serveur&nbsp;?</h2>
                <p>Partager&nbsp;! Liker&nbsp;! Commenter&nbsp;! Tout ceci nous aide et améliore la visibilité du serveur et le mieux, c’est que ca ne vous coûte pas 1 centimes&nbsp;!</p>
                <p>Alors à vos <span>pouces bleus</span>, vos <span>coeurs</span> et vos <span>retweets</span>&nbsp;!</p>
                <div>
                    <a href="" id="youtube">
                        <p>Youtube</p>
                        <img src="../../../assets/pictures/youtube.png" alt="Logo Youtube">
                    </a>  
                    <a href="" id="instagram">
                        <p>Instagram</p>
                        <img src="../../../assets/pictures/instagram.png" alt="Logo Instagramm">
                    </a>
                    <a href="" id="tiktok">
                        <p>TikTok</p>
                        <img src="../../../assets/pictures/tiktok.png" alt="Logo TikTok">
                    </a>
                    <a href="" id="twitter">
                        <p>Twitter</p>
                        <img src="../../../assets/pictures/twitter.png" alt="Logo Twitter">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--todo => à 1k pixel, le bouton instagram fait bouger la taille autour-->