@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon/icomoon.eot?qi7cii');
  src:  url('./assets/fonts/icomoon/icomoon.eot?qi7cii#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon/icomoon.ttf?qi7cii') format('truetype'),
    url('./assets/fonts/icomoon/icomoon.woff?qi7cii') format('woff'),
    url('./assets/fonts/icomoon/icomoon.svg?qi7cii#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-warning:before {
  content: "\e903";
}
.icon-sign:before {
  content: "\e903";
}
.icon-trophy:before {
  content: "\e907";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-right:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e901";
}
.icon-discord:before {
  content: "\e902";
}

