/* FONTS */

@import '../node_modules/angular-notifier/styles.scss';
@import 'icon.scss';

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins/Poppins-Light.ttf);
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Londrina Outline', sans-serif;;
    src: url(./assets/fonts/LandrinaOutline/LondrinaOutline-Regular.ttf);
}

/* GENERAL STYLES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--primary-color);
}

a, button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

h1,h2,h3,p,a,span{
    color: var(--white);
}

h1{
    font-weight: 600;
    font-size: 40px;
}

h2{ //todo retirer tout les styles inutiles - faire meme chose pour h1
    font-weight: 500;
    font-size: 24px;
}

/* VARIABLES */

:root{
    --primary-color : #13151B !important;
    --secondary-color : #21222D !important;
    --secondary-variant-color: #2B2C39 !important;
    --third-color : #3548E5 !important;
    --discord-color : #7289DA !important;
    --mail-color : #DB4437 !important;

    --white : #ffffff !important;
    --black : #000000 !important;
    --grey : #ffffff80 !important;
    --grey-light: #ffffff50 !important;

    --danger : #F94E4E !important;
    --success: #32b439 !important;

    --font-weight-medium: 400 !important;
    --font-weight-semibold: 500 !important;
    --font-weight-bold: 600 !important;
    --font-weight-extrabold: 700 !important;
}

/* GENERAL CLASS */

#container{
    display: flex;
    padding: 0 200px 100px 200px;
}

.btn{
    padding: 10px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    font-weight: 400;
    height: fit-content;

    &-third{
        background-color: var(--third-color);
        color: var(--white);

        &.animated:not(:disabled){
            transition: all 0.3s;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0 0 25px var(--third-color);
            }
        }
    }
    &-danger{
        background-color: var(--danger);
        color: var(--white);

        &.animated:not(:disabled){
            transition: all 0.3s;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0 0 25px var(--danger);
            }
        }
    }

    &-outline-third{
        border: solid 1px var(--third-color);
        background-color: transparent;

        &:hover{
            background-color: var(--third-color);
        }
    }

    &-discord{
        background-color: var(--discord-color);
        color: var(--white);

        &.animated:not(:disabled){
            transition: all 0.3s;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0 0 25px var(--discord-color);
            }
        }
    }

    &-mail{
        background-color: var(--mail-color);
        color: var(--white);

        &.animated:not(:disabled){
            transition: all 0.3s;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
}

p-dialog .dialog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--secondary-color);
    padding: 25px 50px;
    border-radius: 25px;
    border: solid 1px;
    gap: 35px;

    h2 {
        color: var(--third-color);
        text-decoration: none;
    }
    
    .form-button {
        display: flex;
        justify-content: space-evenly;
        padding: 15px 0;

        >div{
            position: relative;
        }
    }
}

@media screen and (max-width:1199px) {
    #container{
        padding: 0 100px 100px 100px;
    }
}
@media screen and (max-width:1199px) {
    #container{
        padding: 0 40px 100px 40px;
    }
}
@media screen and (max-width:566px) {
    #container{
        padding: 0 15px 100px 15px;
    }
}