#navigation-container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);

    >#banner-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1A1C24E5;
        height: 60px;
        padding-left: 20px;

        >#online-player {
            display: flex;
            align-items: center;
            gap: 10px;

            >#number {
                padding: 10px;
                background-color: var(--white);
                border-radius: 10px;
                height: 35px;
                display: flex;
                align-items: center;
                font-weight: 700;
                color: var(--black);
            }

            >p {
                color: var(--white);
                font-weight: 600;
            }
        }

        >#auth-not-connected {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-inline: 20px;

            >* {
                font-weight: 600;
                color: var(--white);
            }
            >a{
                position: relative;
                width: fit-content;

                &::after{
                    position: absolute;
                    content: "";
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background-color: var(--white);
                    width: 0%;
                    transition: all 0.5s;
                    border-radius: 25px;
                }
                &:hover::after{
                    width: 100%;
                }
            }
        }
        >#auth-connected{
            height: 100%;

            #toggle-global-menu{
                display: flex;
                align-items: center;
                gap: 10px;
                transition: all 0.2s;
                cursor: pointer;
                padding-inline: 20px;
                height: 100%;
    
                >* {
                    font-weight: 600;
                    color: var(--white);
                }
    
                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    border: solid 1px var(--white);
                }
    
                &:hover{
                    background-color: #2E3342;
                }
            }

            ::ng-deep p-menu{
                li{
                    background: var(--secondary-color) !important;

                    &[role="menuitem"] a{
                        padding: 10px 20px;
                        width: 100%;

                        button{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            width: 100%;
                            padding: 5px 15px;
                            border-radius: 10px;
                            border: solid 1px var(--danger);
                            background-color: var(--secondary-color);

                            span{
                                color: var(--danger);
                            }

                            &:hover{
                                background-color: var(--danger);
                                
                                span{
                                    color: var(--white);
                                }
                            }
                        }
                    }
                    &[role="none"]{
                        padding: 10px 10px 0 10px;
                    }
                }

                .p-menuitem-content{
                    display: flex;
                    background: var(--secondary-color) !important;
                    
                    &:hover{
                        background-color: var(--secondary-variant-color) !important;
                    }
                }
            }
        }

    }
    >#picture {
        max-height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        >#menu-background {
            width: 100%;
        }
        >#menu-logo{
            position: absolute;
            animation: 1s ease-in-out infinite alternate flying;
            transition: all 1s;
            
            &:hover{
                filter: drop-shadow(0px 0px 75px rgb(144, 144, 144));
            }

            >img{
                height: 175px;
            }
        }

    }

    >#styled-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
        position: relative;
        top: -50px;
        width: 100%;
        padding-inline: 25px;

        >.link {
            display: flex;
            align-items: center;
            width: 350px;
            height: 100px;
            padding: 25px;
            background-color: var(--secondary-color);
            border-radius: 25px;
            box-shadow: 0 8px 25px rgba($color: #ffffff, $alpha: 0.08);
            transition: all 0.5s;
            cursor: pointer;
            border: none;
            gap: 25px;

            &:hover,
            &:active {
                box-shadow: 0 0 40px rgba($color: #5a69f7, $alpha: 0.5);
                transform: scale(1.1);
            }

            .link-picture{
                position: relative;
                top:25%;

                >img {
                    animation: 1s ease-in-out infinite alternate flying;
                    width: 50px;
                    height: 50px;
                }
    
                 >.img-shadow{
                    margin-top: -15px;
                    content: '';
                    background: radial-gradient(circle, rgb(22,22,22) 0%, var(--secondary-color) 80%);
                    width: 40px;
                    height: 50px;
                    transform: rotateX(60deg);
                    border-radius: 100%;
                    margin-inline: auto;
                 }
            }

            >.link-text {
                display: flex;
                flex-direction: column;
                gap: 5px;

                >p {
                    color: var(--white);

                    &:first-child {
                        font-weight: 500;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@keyframes flying {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-4px);
    }
}

@media screen and (max-width:1200px) {
    #styled-links{
        padding-inline: 0 !important;

        >.link {
            width: 150px !important;
            height: auto !important;
            flex-direction: column;
            gap: 0 !important; 
            padding: 10px 25px !important;
    
            >div>p:nth-child(2) {
                display: none;
            }
        }
    }
}

@media screen and (max-width:800px) {
    #styled-links {
        gap: 50px !important;

        >.link{
            width: 125px !important;
        }
    }
    .link-picture{
        >img{
            width: 30px;
            height: 30px;
        }
    }
}

@media screen and (max-width:600px) {
    #picture>#menu-logo>img{
        height: 125px !important;
    }
    #styled-links {
        gap: 0 !important;
        justify-content: space-around !important;

        >.link {
            padding: 15px !important;
            width: 100px !important;

            >img {
                width: 30px;
                height: 30px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    #picture>#menu-logo>img{
        height: 75px !important;
    }

    #auth-not-connected>:nth-child(2), #auth-not-connected>:nth-child(3){
        display: none;
    }
}
